[core]
        commitGraph = true
        editor = vim
[diff]
        algorithm = patience
[gc]
        writeCommitGraph = true
[protocol]
        version = 2
[user]
        name = Artemis
        email = artemis134codes@gmail.com
[alias]
        co = checkout
        ci = commit
        st = status
        lg = log --graph --decorate --pretty=oneline --abbrev-commit
