[core]
        commitGraph = true
        editor = vim --wait
[diff]
        algorithm = patience
[gc]
        writeCommitGraph = true
[protocol]
        version = 2
[url "https://github.com/Shopify/"]
        insteadOf = git@github.com:Shopify/
        insteadOf = git@github.com:shopify/
        insteadOf = ssh://git@github.com/Shopify/
        insteadOf = ssh://git@github.com/shopify/
[user]
        name = Diana Carrier
        email = diana.carrier@shopify.com
[alias]
        co = checkout
        ci = commit
        st = status
        lg = log --graph --decorate --pretty=oneline --abbrev-commit
